.annobib-citation {
  margin-bottom: 1.25em;
}

.annobib-usefullinks {
  margin-left: 1.25em !important;
}

.annobib-usefullinks li {
  padding-left: 0.25em;
}

.annobib-entry {
  display: block;
}

.annobib-entry select {
  max-width: none;
  width: 100%;
}

.annobib-container {
  display: flex;
}

.annobib-container-last {
  margin-top: 20px;
  margin-bottom: -20px;
}

.annobib-container-narrow {
  flex: 0 1 auto;
}

.annobib-container-wide {
  flex: 1 0 auto;
}

.annobib-container-narrow,
.annobib-container-wide,
.annobib-container-half {
  margin-right: 1em;
}

.annobib-container-narrow:last-child,
.annobib-container-wide:last-child,
.annobib-container-half:last-child {
  margin-right: 0;
}
